[epydoc] # Epydoc section marker (required by ConfigParser)

# Information about the project.
name: nMOLDYN

# The documented project's URL.
url: http://sourcesup.cru.fr/projects/nmoldyn

# The list of modules to document.
modules: nMOLDYN

# imports
# Whether or not to list each module's imports.
imports: no

# Write html output to the directory "apidocs"
output: pdf
target: API/PDF

parse: yes

introspect: no
